@use "@/app/mixins" as *;
@use "@/app/variables" as *;

.layout {
  z-index: 10;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 8px 32px;
  color: $black-dark;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  // background-color: red;
  @media (max-width: 768px) {
    padding: 4px 8px;
  }
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.logoText {
  font-size: 24px;
  // font-weight: bold;
  @media (max-width: 970px) {
    display: none;
  }
}

.nav a {
  margin-left: 24px;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;

  &:hover {
    color: #ffcc00;
  }
}

@media (max-width: 1100px) {
}

@media (max-width: 768px) {
}
